@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

body {
  background-color: #d6d6d6;
  background-image: url(images/background.jpg);
  background-repeat: repeat-x;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
}

#logo {
  display: block;
  width: 216px;
  margin: 20px auto;
}
/* --style flex container-- */
.container {
  display: flex;
  justify-content: center;
}

.col1 {
  margin: 0px 10px;
  padding-top: 25px;
  width: 30%;
  background-color: white;
}

.col2 {
  margin: 0px 10px;
  width: 15%;
}

/* --style card-- */
h3 {
  margin: 0px 0px;
  padding-bottom: 16px;
}

hr {
  border: none;
  border-top: 1px solid #000000;
}

.card {
  background-color: white;
  padding: 0px 18px 50px 18px;
}

.card img {
  width: 100%;
}

.card p {
  font-size: 14px;
}

.card a {
  font-weight: 600;
  font-size: 15px;
  color: #ff3300;
  text-decoration: none;
}

.postedby a {
  font-size: 14px;
}

.dottedline {
  border: none;
  border-top: 1px dotted #000000;
}

/* --style aside-- */
aside {
  background-color: white;
  padding: 10px 20px 60px 20px;
  font-size: 13px;
}
aside P {
  padding: 0;
  margin: 10px 0 0 0;
  font-weight: 900;
}

aside ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

aside li {
  font-weight: 600;
}

aside a {
  color: black;
  text-decoration: none;
}

.imageTag {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

/* --style footer-- */
#footer {
  display: flex;
  justify-content: center;
}

#footer img {
  margin: 50px 5px;
}
