<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head"), {title} %>
  <body>
    <div class="container">
      <h1>Budgtr ALL</h1>
      <div
        class="row"
        style="background-color:<%=negativeBalance ? 'red' : 'aquamarine' %>;"
      >
        <h3>Balance Status</h3>
      </div>
      <table class="u-full-width">
        <tbody>
          <!-- prettier-ignore -->
          <% budget.map((item, index)=> { %>
            <%- include("partials/table_row", {index, date: item.date, name: item.name, amount: item.amount }) %>
          <% }) %>
        </tbody>
      </table>
      <a class="button" href="/budget/new">Add New Budget Item</a>
    </div>
  </body>
</html>
